@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap");

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* I'm giving a base font-size of 62.5% which equals to 10px. Therefore, 1em = 10px. This will allow a simpler calculation of font-sizes, and provide a better user interactivity on different devices and being user friendly. */

html {
  font-size: 62.5%;
  color: black;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 100;
  line-height: 2;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #ffffff;
}

body::after {
  content: "";
  background-image: url("https://images.unsplash.com/photo-1520824596941-f5f578149ec8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  opacity: 0.9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

/* GENERAL STYLE */

h1 {
  font-size: 4rem;
  font-weight: 500;
  margin: 2rem 0 2rem 3rem;
}

h1 a {
    color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  background: transparent;
}


