@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;800&family=Oswald:wght@200;400;600&display=swap");

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* I'm giving a base font-size of 62.5% which equals to 10px. Therefore, 1em = 10px. This will allow a simpler calculation of font-sizes, and provide a better user interactivity on different devices and being user friendly. */

html {
  font-size: 62.5%;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  line-height: 2;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  background-color: var(--white-color);
}

body::after {
  content: "";
  background-image: url("https://images.unsplash.com/photo-1477936432016-8172ed08637e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3774&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

/* -------- ROOT COLORS -------- */

:root {
  --white-color: rgb(255, 255, 255);
  --black-color: rgb(0, 0, 0);
  --blue-light-color: #9ecaed;
  --blue-footer: rgba(60, 93, 100, 0.479);
  --beije-color: rgb(216, 185, 129);
}

/* GENERAL STYLE */

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
}

h1 {
  font-size: 4rem;
  font-weight: 600;
  margin: 2rem 0 2rem 3rem;
  font-family: "Montserrat", sans-serif;
  word-spacing: 1rem;
  padding: 0 1rem;
}

h1 a {
  color: var(--white-color);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--black-color);
}

nav {
  background: transparent;
}

.navButton {
  align-items: flex-end;
  margin: 0 2rem 0 auto;
}

.bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 3rem;
  border: 1.2px solid var(--white-color);
  margin-top: 0.6rem;
}

#barOne, #barThree {
  width: 60%;
}

#barThree {
  margin-right: 0;
  margin-left: auto;
}


/* SECTION GENERAL */

section {
  margin: 10rem 2rem;
}

/* TOP SECTION */


h2 {
  text-align: center;
  color: var(--white-color);
  font-size: 3rem;
  padding: 5rem 0;
}


/* FORM SEARCH */

#formSearch {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 10rem 0 5rem 0;
  transition: all 1s;
  width: 5rem;
  height: 5rem;
  background: var(--white-color);
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid var(--white-color);
  padding: 1rem;
}

.inputSearch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  line-height: 2rem;
  outline: 0;
  border: 0;
  display: none;
  font-size: 2rem;
  border-radius: 20px;
  padding: 0 2rem;
  caret-color: var(--blue-light-color);
}

#formSearch .fa {
  box-sizing: border-box;
  padding: 1.4rem;
  width: 4.2rem;
  height: 4.2rem;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: var(--black-color);
  text-align: center;
  font-size: 1.4rem;
  transition: all 1s;
}

#formSearch:hover,
#formSearch:valid {
  width: 25rem;
  cursor: pointer;
}

#formSearch:hover input,
#formSearch:valid input {
  display: block;
}

#formSearch:hover .fa,
#formSearch:valid .fa {
  background: var(--black-color);
  color: var(--white-color);
}

#formSearch a {
  display: none;
  position: absolute;
  top: 6rem;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 2.4rem;
  color: var(--white-color);
  text-align: center;
  width: 100%;
}

#formSearch:valid a {
  display: block;
}

/* REGION SECTION */

.regionBox {
  width: 70%;
  margin: 10rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.region {
  width: 20rem;
  height: 15rem;
  border-radius: 16px;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.region:hover {
  transform: scale(1.1);
  transition: all 0.3s;
  box-shadow: 0px 0px 10px var(--white-color);;
}

h3 {
  font-size: 2.3rem;
  text-align: center;
}

.viana {
  background: url('https://www.iberian-escapes.com/images/viana-do-castelo-santa-luzia.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.braga {
  background: url('https://images.unsplash.com/photo-1568977337691-8e2c4baa094b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
  background-repeat: no-repeat;
  background-size: cover;
}

.porto {
  background: url('https://images.unsplash.com/photo-1581887469434-5dacb946ab56?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  background-repeat: no-repeat;
  background-size: cover;
}

.aveiro {
  background: url('https://images.unsplash.com/photo-1531772337062-9d94547f333f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1430&q=80');
  background-repeat: no-repeat;
  background-size: cover;
}

.coimbra {
  background: url('https://images.unsplash.com/photo-1635893312205-6abda7db17a0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80');
  background-repeat: no-repeat;
  background-size: cover;
}

/* NEWSLETTER */

.formDiv {
  width: 100%;
  text-align: center;
}

.newsletterSection input {
  height: 3rem;
  width: 18rem;
  text-align: center;
}

.inputBox {
  border-radius: 10px 0 0 10px;
  border: 1px solid var(--white-color);
  caret-color: var(--blue-light-color);
}

.inputBox:focus {
  outline: none;
  box-shadow: 0 0 20px var(--blue-light-color);
}

.newsletterBtn {
  border-radius: 0 10px 10px 0;
  height: 3rem;
  width: 15rem;
  padding: 5px;
  text-align: center;
  margin-left: -0.2rem;
  border: 1px solid var(--white-color);
  color: var(--white-color);
  background: none;
  cursor: pointer;
  margin-bottom: 2em;
}

.newsletterBtn:hover {
  color: var(--white-color);
  background-color: var(--beije-color);
  box-shadow: 0 0 20px var(--blue-light-color);
}

/* FOOTER */

footer {
  padding: 5rem 0;
  background: var(--blue-footer);
}

.companyTitleFooter a {
  color: var(--white-color);
  padding: 2rem 3rem;
  font-family: "Montserrat", sans-serif;
  word-spacing: 1rem;
  font-size: 2.4rem;
  font-weight: 600;

  /* border: 1px solid red; */
}

.copyright {
  padding: 0 2rem;
  text-align: center;
}

.copyrightFooter, .copyrightFooter a {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: var(--white-color);
  padding-bottom: 1rem;
  letter-spacing: 0.2rem;
}

.copyrightFooter a:hover {
  color: var(--beije-color);
}