@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;800&family=Oswald:wght@200;400;600&display=swap");

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* I'm giving a base font-size of 62.5% which equals to 10px. Therefore, 1em = 10px. This will allow a simpler calculation of font-sizes, and provide a better user interactivity on different devices and being user friendly. */

html {
  font-size: 62.5%;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  line-height: 2;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  background-color: var(--white-color);
}

body::after {
  content: "";
  background-image: url("https://images.unsplash.com/photo-1477936432016-8172ed08637e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3774&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  top: -10rem;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

/* -------- ROOT COLORS -------- */

:root {
  --white-color: rgb(255, 255, 255);
  --black-color: rgb(17, 16, 16);
  --blue-light-color: #9ecaed;
  --blue-darker-color: #648097;
  --bronze-footer: rgb(218, 169, 114);
  --navscroll-color: rgba(138, 129, 115, 0.925);
  --beije-color: rgb(216, 185, 129);
  --red-color: #882121;
}

/* GENERAL STYLE */

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
}

h1 {
  font-size: 3.3rem;
  font-weight: 600;
  margin: 2rem 0 2rem 2rem;
  font-family: "Montserrat", sans-serif;
  word-spacing: 1rem;
  padding: 0 1rem;
}

h1 a {
  color: var(--white-color);
}

h1 a:hover {
  color: var(--blue-light-color);
  transition: all 0.3s;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--black-color);
}

nav {
  background: transparent;
}

.navButton {
  position: absolute;
  top: 4rem;
  right: 2rem;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.navButton:hover {
  transform: scale(1.1);
  transition: all 0.7s;
  color: var(--blue-light-color);
}

.bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 3rem;
  border: 1.2px solid var(--white-color);
  margin-top: 0.6rem;
}

#barOne,
#barThree {
  width: 60%;
}

#barThree {
  margin-right: 0;
  margin-left: auto;
}

/* Navbar drop down menu */

.navLinks {
  display: none;
}

.navLinks ul {
  padding: 0;
}

.navLinks.active {
  padding: 2rem;
  background: var( --bronze-footer);
  width: 100vw;
  position: absolute;
  top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navLinks.active li {
  text-align: center;
  margin: 2rem auto;
}

.navLinks.active li a {
  padding: 1rem;
  font-size: 2.6rem;
  font-weight: 600;
  color: var(--blue-darker-color);
}

.navLinks.active li:hover {
  transform: scale(1.1);
  transition: all 0.7s;
}

.navLinks.active li a:hover {
  border-bottom: 2px solid var(--blue-darker-color);
}

/* SECTION GENERAL */

section {
  margin: 10rem 2rem;
}

/* TOP SECTION */

h2 {
  text-align: center;
  color: var(--white-color);
  font-size: 3rem;
  padding: 5rem 0;
}

/* FORM SEARCH */

#formSearch {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 10rem 0 5rem 0;
  transition: all 1s;
  width: 5rem;
  height: 5rem;
  background: var(--white-color);
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid var(--white-color);
  padding: 1rem;
}

.inputSearch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  line-height: 2rem;
  outline: 0;
  border: 0;
  display: none;
  font-size: 2rem;
  border-radius: 20px;
  padding: 0 2rem;
  caret-color: var(--blue-light-color);
}

#items option {
  /* Custom styling for datalist options */
  background-color: #f2f2f2;
  padding: 5px;
}

#formSearch .fa {
  box-sizing: border-box;
  padding: 1.4rem;
  width: 4.2rem;
  height: 4.2rem;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: var(--blue-darker-color);
  text-align: center;
  font-size: 1.4rem;
  transition: all 1s;
}

#formSearch:hover,
#formSearch:valid {
  width: 25rem;
  cursor: pointer;
}

#formSearch:hover input,
#formSearch:valid input {
  display: block;
}

#formSearch:hover .fa,
#formSearch:valid .fa {
  background: var(--blue-light-color);
  color: var(--white-color);
}

#formSearch a {
  display: none;
  position: absolute;
  top: 6rem;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 2.4rem;
  color: var(--white-color);
  text-align: center;
  width: 100%;
}

#formSearch:valid a {
  display: block;
}

/* REGION SECTION */

.regionSection {
  height: 60rem;
  max-width: 120rem;
  margin: 0 auto 30rem auto;
}

.carousel {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 100%;
  max-height: 56rem;
  overflow: hidden;
  position: relative;
}

.carouselItem {
  visibility: visible;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  -webkit-align-items: center;
  -webkit-justify-content: flex-end;
  position: relative;
  background-color: var(--bronze-footer);
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  position: absolute;
  z-index: 3;
  transition: 0.6s all linear;
}

.carouselInfo {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  order: 1;
  left: 0;
  padding: 3rem;
  width: 40%;
}

.carouselImage {
  width: 60%;
  height: 100%;
  order: 2;
  align-self: flex-end;
  flex-basis: 60%;
  -webkit-order: 2;
  -webkit-align-self: flex-end;
  -webkit-flex-basis: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transform: translateX(100%);
  transition: 0.6s all ease-in-out;
}

.carouselItem-1 .carouselImage {
  background-image: url("https://www.iberian-escapes.com/images/viana-do-castelo-santa-luzia.jpg");
}

.carouselItem-2 .carouselImage {
  background-image: url("https://images.unsplash.com/photo-1568977337691-8e2c4baa094b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
}

.carouselItem-3 .carouselImage {
  background-image: url("https://images.unsplash.com/photo-1581887469434-5dacb946ab56?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
}

.carouselItem-4 .carouselImage {
  background-image: url("https://images.unsplash.com/photo-1531772337062-9d94547f333f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1430&q=80");
}

.carouselItem-5 .carouselImage {
  background-image: url("https://images.unsplash.com/photo-1635893312205-6abda7db17a0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80");
}

.itemContainer {
  height: 100%;
  padding: 3rem 2rem;
}

.itemCity {
  font-size: 4rem;
  color: var(--blue-darker-color);
  padding-top: 10rem;
}

.itemSubHeading {
  font-size: 2.6rem;
  font-weight: 500;
  color: var(--black-color);
  text-align: left;
}

.itemDescription {
  font-size: 1.8rem;
  font-weight: 300;
  text-align: justify;
}

.carouselBtn {
  /* width: 35%; */
  color: var(--red-color);
  letter-spacing: 0.4rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin: 0;
  width: 35%;
  font-weight: 700;
  text-decoration: none;
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.6s all ease-in-out;
}

.carouselBtn:hover {
  transform: scale(1.1);
  color: var(--blue-darker-color);
  transition: all 0.3s;
  border-bottom: 1px solid var(--blue-darker-color);
}

.carouselNav {
  position: absolute;
  right: 0;
  z-index: 5;
  background-color: #fff;
  bottom: 0;
}

.carouselIcon {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  fill: var(--black-color);
}

.carouselArrow {
  cursor: pointer;
  display: inline-block;
  padding: 11px 15px;
  position: relative;
}

.carouselArrow:nth-child(1):after {
  content: "";
  right: -3px;
  position: absolute;
  width: 1px;
  background-color: var(--black-color);
  height: 14px;
  top: 50%;
  margin-top: -7px;
}

.active {
  z-index: 4;
  display: flex;
  visibility: visible;
}

.active .itemCity,
.active .itemSubHeading,
.active .itemDescription,
.active .carouselBtn {
  transform: translateY(0);
  opacity: 1;
  transition: 0.8s all ease-in-out;
  visibility: visible;
}

.active .carouselImage {
  transition: 0.8s all ease-in-out;
  transform: translateX(0);
}

/* NEWSLETTER */

.formDiv {
  width: 100%;
  text-align: center;
}

.newsletterSection input {
  height: 3rem;
  width: 18rem;
  text-align: center;
}

.inputBox {
  border-radius: 10px 0 0 10px;
  border: 1px solid var(--white-color);
  caret-color: var(--blue-light-color);
}

.inputBox:focus {
  outline: none;
  box-shadow: 0 0 20px var(--blue-light-color);
}

.newsletterBtn {
  border-radius: 0 10px 10px 0;
  height: 3rem;
  width: 15rem;
  padding: 5px;
  text-align: center;
  margin-left: -0.2rem;
  border: 1px solid var(--white-color);
  color: var(--white-color);
  background: none;
  cursor: pointer;
  margin-bottom: 2em;
}

.newsletterBtn:hover {
  color: var(--white-color);
  background-color: var(--beije-color);
  box-shadow: 0 0 20px var(--blue-light-color);
  transition: all 0.7s;
}

/* FOOTER */

h3 {
  font-size: 2.3rem;
  text-align: center;
}

footer {
  padding: 5rem 0;
  background: var(--bronze-footer);
}

.companyTitleFooter a {
  color: var(--white-color);
  padding: 2rem 3rem;
  font-family: "Montserrat", sans-serif;
  word-spacing: 1rem;
  font-size: 2.4rem;
  font-weight: 600;
}

.copyright {
  padding: 0 2rem;
  text-align: center;
}

.copyrightFooter,
.copyrightFooter a {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: var(--white-color);
  padding-bottom: 1rem;
  letter-spacing: 0.2rem;
}

.copyrightFooter a:hover {
  color: var(--blue-light-color);
  transition: all 0.7s;
}

/* Footer liquid */

@keyframes wave {
  from,
  to {
    transform: translate(-50%, 0%);
  }

  50% {
    transform: translate(-50%, -20%);
  }
}

#bubble-wrapper {
  height: 100%;
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: 6;
  overflow: hidden;
  pointer-events: none;

}

.bubble {
  height: max(150px, 15vw);
  width: max(500px, 30vw);
  background-color: var(--blue-light-color);
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: 100%;
  animation: wave 2s ease-in-out infinite;
}

@media (prefers-reduced-motion) {
  .bubble {
    animation: none;
    display: none;
  }
}
